*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Metrophobic", sans-serif;
}
#search{
    padding-left: 60px;
}
.c2{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(/assets/imgg.png);
}
#pr1{
    border-radius: 15px 15px 15px 15px;
}
#text1{
    border-radius: 15px 0px 0px 0px;
}
.c31{
    border-radius: 15px 15px 0px 0px;
}
#span1{
    border-radius: 0px 0px 15px 15px;
}
.text{
    border-bottom: 1px dotted rgb(56, 56, 56) ;
}
video{
    border-radius: 20px;
    width: 100%;
}

/* aside  */

#asid{
    position: fixed;
    /* width: 40%; */
    height: 100vh;
    margin-top: -90px;
}
/* #inputbox{
    height: 54px;
    border-radius: 8px;
    border: 1px solid #F5EEE2;
    position: relative;
    margin-top: 22px;
}

#input{
    width: 100%;
    padding: 14px 18px;
    height: 54px;
    border-radius: 8px;
    border: none;
    background-color: transparent;
    color: #F5EEE2;
    font-size: 18px;
}
#search{
    position: absolute;
    right: 10px;
    color: #F5EEE2;
    font-size:25px;
    top: 15px;
} */